<!DOCTYPE html>
<html>
 
<head>
    <title>Fun With Random Numbers</title>
</head>
 
<body>
    <h2>What Type of Random Number Would You Like?</h2>

    <a href="/rand/1/100">
      <button style="background-color:MediumSeaGreen; border-color:DarkCyan; color:Cornsilk">A Small Random Number</button>
    </a>

    &nbsp &nbsp &nbsp
    
    <a href="/rand/1000/2000">
      <button style="background-color:MediumSeaGreen; border-color:DarkCyan; color:Cornsilk">A Big Random Number</button>
    </a>
</body>
 
</html>
